@import "./variables.scss";

body {
  background-color: $gris-claro;
}

.firstContainer {
  border: 1px solid;
  height: 30vh;
  background-image: url("https://res.cloudinary.com/dwdz4mn27/image/upload/v1646532900/todo-app-main/images/bg-mobile-dark_t3fctw.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  h1 {
    font-size: 2.8rem;
    color: $gris-claro;
    letter-spacing: 13px;
    text-align: center;
  }

  .inputContainer {
    background-color: $azul-oscuro;
    height: 30%;
    max-width: 380px;
    width: 90%;
    border-radius: 5px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .textInput {
      height: 100%;
      width: 85%;
      border: none;
      outline: none;
      background-color: $azul-oscuro;
      padding: 10px;
      color: $gris-claro;
      font-size: 1.4rem;
    }
  }
}

.secondContainer {
  background-color: hsl(235, 21%, 11%);
  // height: 70vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  .taskContainer {
    // height: 70%;
    max-width: 380px;
    width: 90%;
    background-color: $azul-oscuro;
    border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    // justify-content: space-between;

    .taskList {
      width: 100%;
      height: 90%;
      flex-grow: 1;
    }

    .todoCounter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 10%;
      color: $gris-oscuro;
      font-size: 1.5rem;
      padding: 0 25px;
    }
  }

  .filter {
    max-width: 380px;
    width: 90%;
    height: 10%;
    background-color: $azul-oscuro;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: $gris-oscuro;
    padding: 0 50px 0 50px;
    h1 {
      cursor: pointer;
    }
  }
}
